.main-container {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}

.button-container {
    flex-direction: column;
    align-items: flex-end;
}

.menu-button {
    background-color: transparent;
    color: rgb(127, 127, 127);
    -unity-font-style: bold;
    padding: 12px 24px;
    border-width: 0;
    border-radius: 6px;
}

.menu-button:hover {
    color: rgb(208, 208, 208);
}

.start-button {
    margin-bottom: 10px;
}
